body{
	background:grey; 
	font-family:arial;
	color:grey;
	margin:0px;
	padding:0px;
	}
	
#container{
	margin:10px;
	}

header{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	color:white;
	background-color:#d3d3d3;
	border: solid 10px #a9a9a9;
	border-radius: 10px 10px 10px 10px;
	text-align:center;
	padding: 5px;
	margin:10px;
	line-height:50px;
	font-weight:bolder;
	height:100px;
	}

nav{
	position:absolute;
	top: 140px;
	left:0px;
	line-height: 20px;
	height:300px;
	width:120px;
	background-color:white;
	padding:10px;
	margin:10px;
	border: solid 5px #a9a9a9;
	border-radius: 5px 5px 5px 5px;
	float:left
	}

h2#menu{
	margin:2px;
	border: solid 2px #a9a9a9;
	border-radius: 3px 3px 3px 3px;
	text-align: center;
	cursor:pointer;
	}

#drop_menu{
	position: absolute;
	float:left;
	visibility: hidden;
}


#drop_menu a{
	color:grey;
	text-decoration: none;
	}

section{
	position: absolute;
	top: 140px;
	left:170px;
	right:170px;
	color:grey;
	background-color:white;
	padding:10px;
	margin:10px;
	border: solid 5px #a9a9a9;
	border-radius: 5px 5px 5px 5px;
	}

aside{
	position:absolute;
	top: 140px;
	right:0px;
	line-height: 20px;
	height:300px;
	width:120px;
	background-color:white;
	padding:10px;
	margin:10px;
	border: solid 5px #a9a9a9;
	border-radius: 5px 5px 5px 5px;
	float:left;
	}
	
footer{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:15px;
	background-color:#a9a9a9;
	color:white;
	font-weight: bold;
	text-align:center;
	padding:10px;
	margin:10px;
	border-radius: 5px 5px 5px 5px;
	}

	
p{
	text-align:justify;
	color:black;
	}
	
	
img#main_image{
	position: relative;
	left: 300px
	}
	
td.login_table{
	font-weight:bolder;
	}
